.app-content-page {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 50px; /* Adjust the padding as needed */
  margin: 20px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
	border-radius: 10px;
	outline: auto;
	margin-top: 100px;
	margin-left: 320px;
}

.row-one {
	background-color: greenyellow;
	width: 30%;
	border-radius: 10px;
	padding: 16px;
	font-family: 'Times New Roman', Times, serif;
	cursor: pointer;
}