.user-profile {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
  justify-content: space-around;
}

.profile-column {
  flex: 1; /* Adjust the width of the profile column */
}

.information-column {
  flex: 2; /* Adjust the width of the information column */
  display: flex;
  flex-direction: column;
}

.general-info-row,
.appointment-row {
  flex: 1; /* Adjust the height of the rows */
  border: 1px solid #ccc; /* Add borders for visualization */
}

/* Media query for small screens */
@media (max-width: 768px) {
  .user-profile {
    flex-direction: column; /* Stack items vertically on small screens */
  }

  .profile-column,
  .information-column,
  .general-info-row,
  .appointment-row {
    width: 100%; /* Make items take full width on small screens */
  }
}
