.user-profile {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 20px;
  margin: 20px;
  margin-top: 100px;
  margin-left: 320px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.container-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  outline: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.patient-info .container-header {
  height: 25%;
}

.patient-contact .container-header {
  height: 10%;
}

.patient-container-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  outline: auto;
  height: 10%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h3 {
  margin: 0; /* Remove default margin */
}

.header-content button {
  margin-left: 10px; /* Adjust spacing between h3 and button */
}

.patient-info,
.patient-contact {
  border-radius: 10px;
  border: 1px solid #479ade;
  margin-right: 10px;
}

.patient-info {
  height: 70%;
  width: 100%; /* Use 100% width to fill the available space */
  margin-bottom: 10px;
}

.patient-contact {
  height: 100%;
  width: 100%; /* Use 100% width to fill the available space */
}

.contact-table {
  display: flex;
  flex-direction: row;
}

.name-column,
.contact-column,
.actions {
  flex: 1;
  border: 1px solid #479ade; /* Add border for visualization */
  padding: 10px; /* Add padding as needed */
  text-align: center; /* Center the text within each column */
}

.information-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.general-info-row,
.appointment-row {
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #479ade;
  width: 100%; /* Use 100% width to fill the available space */
}

.general-info-row {
  height: 50%;
  width: 100%;
  margin-bottom: 10px;
}

.appointment-row {
  height: 100%; /* Adjust height as needed */
  width: 100%;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .user-profile {
    flex-direction: column;
  }

  .profile-column,
  .information-column,
  .general-info-row,
  .appointment-row,
  .patient-contact,
  .patient-info {
    width: 100%;
  }
}