/* PATIENT.CSS */

.patient-booking {
  padding: 15px;
  background-color: rgb(202, 216, 226);
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 400px;
  border-radius: 15PX;
}

.list-group-item .spacer {
  margin-right: 10px; /* Adjust the margin to your preference */
}

@media (max-width: 768px) {
  .patient-booking {
      width: 120%;
      max-height: auto;
      margin-left: -5px;
      margin-right: 10px;
      margin-bottom: 50px;
  }

  .name-column {
      margin-right: 78px;
  }
}

@media (min-width: 769px) {
  .patient-booking {
      width: 90%;
      max-height: auto;
      overflow-y: auto; 
      margin-left: 150px;
  }

  .list-group-item {
      /* Adjust the max-height property to your preference */
      font-size: 12px;
      display: flex;
      flex-direction: row;
  }
}

.patient-container {
  position: absolute;  /* Add this line to position it absolutely on the body */
  width: 111%;
  margin-left: -180px;
}

.patient-text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18PX;
}