/*HOMEPAGE*/
/* FIRST-SECTION */

.first-section {
  background-image: url('./components/images/homepage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  padding-bottom: 260px;
  
}
.first-section-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.tagline {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  justify-content: center;
  /* Align tagline text to the left */
  margin-left: 0px;
  margin-top: 170px;
}

.tagline h2 {
  font-size: 70px;
  color: #223b52;
  font-family: 'Montserrat', sans-serif; /* Set font family */
  font-weight: bold; /* Make it bold */
}
.tagline p {
  font-size: 1.2rem;
  color: #223b52;
  font-family: 'Montserrat', sans-serif; /* Set font family */
}
.search-bar {
  width: 600px;
  margin: 0 auto;
  min-width: 200px;
  height: 55px;
  padding: 10px;
  /* Reduce padding for the search bar */
  border-radius: 15px;
  color: black;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .tagline h2 {
    font-size: 40px;
  }
  .tagline p {
    font-size: 1rem;
  }
  .search-bar {
    width: 125%;
  }
}

/* SECOND-SECTION */

.second-section {
  background-color: #e4e4e452;
  padding-top: 70px;
  padding-bottom: 150px;
}
.title-container {
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #223b52;
}
.title-container h2 {
  font-size: 25px;
}
.card-box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
   /* Add your preferred color */
}
.card-box {
  width: 240px;  
  height: 260px; 
  margin: 30px;
  padding: 20px;
  border: 1px solid #111111;
  transition: transform 0.2s, box-shadow 0.2s;
  box-sizing: border-box;
  border-radius: 500px;
  overflow: hidden;
  box-shadow: 10px 10px 15px #778a9c;
  transform-style: preserve-3d;
}
.card-box:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.card-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-box .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-box .card-title {
  margin-top: 12px;
  font-size: 1.0rem;
  color: #333;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.link-no-underline {
  text-decoration: none;
}


/* Footer Styles */
.footer-container {
  background-color: #a6a9a9; /* Light gray background */
  padding: 20px 0; /* Add space around the content */
}
.footer-container h5 {
  font-size: 18px;
  color: #343a40; /* Dark text color */
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 20px; /* Space between sections */
  margin-top: 10px;
}
.footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-container a {
  color: #495057; /* Dark text color */
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
/* Social media icons styles */
.footer-container a .icon-circle {
  width: 40px;
  height: 40px;
  background-color: gray; /* Facebook blue color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.footer-container a .icon-circle:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}
.footer-container a .icon-circle svg {
  font-size: 20px;
  color: #403e3e; /* White icon color */
}
